#detailsContainer
    a
        color: blue
        cursor: pointer

    margin-top: 30px

#details
    img
        display: block
        margin: 30px auto

    .detailsData
        border-top: 1px solid #ccc
        padding-top: 15px

    p
        margin-top: 15px
