<main>
  <div *ngIf="loading" class="spinner-border text-warning" role="status"></div>

  <div id="detailsContainer" *ngIf="detailsData">
    <a (click)="backClicked()">Back</a>

    <div *ngIf="!showError" id="details">
      <img width=280 src="{{ detailsData.Poster }}" alt="Poster">

      <div class="detailsData">
        <p><strong>Title:</strong> {{ detailsData.Title }}</p>
        <p><strong>Year:</strong> {{ detailsData.Year }}</p>
        <p><strong>Type:</strong> {{ detailsData.Type }}</p>
        <p><strong>Plot:</strong> {{ detailsData.Plot }}</p>
        <p><strong>IMDB rating:</strong> {{ detailsData.imdbRating }}</p>
        <p><strong>Runtime:</strong> {{ detailsData.Runtime }}</p>
        <p><strong>Genre:</strong> {{ detailsData.Genre }}</p>
      </div>
    </div>

    <div *ngIf="showError">{{ detailsData.Error }}</div>
  </div>
</main>
