#searchResult
  clear: both
  margin-top: 15px
  padding-bottom: 15px
  overflow: hidden
  border-bottom: 1px solid #ccc

  img
    float: left
    margin-right: 20px

  p
    margin-top: 5px

#searchFormContainer
  background: #eee
  padding: 20px

#searchForm
  display: flex
  max-width: 800px
  margin: auto

  input, button
    height: 48px
    corner-radius: 0
    box-sizing: border-box
    border: 1px solid grey
    padding: 0 10px
    background: white

  button
    cursor: pointer
    margin-left: 10px

  input
    flex: 1