<div id="searchFormContainer">
  <div id="searchForm">
    <input placeholder="Search by title" type="text" [formControl]="movieTitleSearch">
    <button (click)="searchByMovieTitle()">Search</button>
  </div>
</div>

<main>
    <div id="searchResultContainer" *ngIf="data">
      <div id="searchResult" *ngFor="let data of data.Search">
        <div>
          <img width="100px" src="{{ data.Poster }}" alt="Poster">
        </div>
  
        <a (click)="goToDetails(data.imdbID)">{{ data.Title }}</a>
        <p>{{ data.Year }}</p>
        <p>{{ data.Type }}</p>
      </div>
    </div>
</main>
